body {
    margin: 0;
    min-width: 250px;
    background-color: #52d6c2
}

* {
    box-sizing: border-box
}

ul {
    margin: 0;
    padding: 0
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

ul li:nth-child(odd) {
    background: #f9f9f9
}

ul li:hover {
    background: #ddd
}
.form-group {
    display: inline-block;
    vertical-align: bottom;
    width: 45%;
}
/*button {*/
/*    margin-left: 40px;*/
/*}*/
.table{
    border: 1px solid #eee;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td{
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}
.table tbody tr:nth-child(odd){
    background: #fff;
}
.table tbody tr:nth-child(even){
    background: #F7F7F7;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px
}

.close:hover {
    background-color: #52d6c2;
    color: white;
    transition-property: background;
    transition-duration: 50550ms
}

.header {
    background-color: #52d6c2;
    padding: 30px 40px;
    color: white;
    text-align: center
}

.header:after {
    content: "";
    display: table;
    clear: both
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #222222;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0
}

.addBtn:hover {
    background-color: #222222;
    color: #d9d9d9 ;
}


.time {
    color: #bdc3c7;
    float: right;
    margin-right: 50px
}

.time:hover {
    color: #ecf0f1;
    animation-name: 'bg-animation';
    animation-duration: 2s;
    animation-iteration-count: infinite
}
.custom-colored-h1
{
    color: #ffffff;
    text-align: center;
}

/*.done*/
/*{*/
/*    color: #ffffff;*/
/*    text-align: right;*/
/*}*/
/*.form-check-input*/
/*{*/
/*    float:left;*/
/*    text-align: right;*/
/*    color: #ffffff*/

/*}*/

/*.subscribe {*/
/*    display: inline-flex;*/
/*    width: auto;*/
/*    max-width: 100%;*/
/*}*/

/*.subscribe input,*/
/*.subscribe button {*/
/*    display: block;*/
/*    padding: 8px 10px;*/
/*    border: 0;*/
/*    background: transparent;*/
/*    font: inherit;*/
/*    box-sizing: border-box;*/
/*}*/

/*.subscribe input {*/
/*    border: 1px solid #ccc;*/
/*    border-right: 0;*/
/*    border-radius: 6px 0 0 6px;*/
/*}*/

/*.subscribe button {*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 0 6px 6px 0;*/
/*    background: #00cfae;*/
/*    color: #fff;*/
/*    text-transform: uppercase;*/
/*}*/
.form-check {
    padding-top: 50px;
    float: left;

}
